
@{
    ViewBag.Title = "dateView";
}
@{

    int[] list = ViewBag.product;


}




<style>

    .containers{
        padding-top: 10%;
        height: 100%;
    }

    .body-list {
        width: 80%;
        margin: auto auto auto auto;
    }

        .body-list li {
            width: 13%;
            height: 40px;
            background-color: aliceblue;
            display: inline-block;
            list-style-type: none;
            text-align: center;
            vertical-align: middle;
            padding-top: 1%;
        }

    .CheckIn {
        position:relative;
        width: 100px;
        height: 50px;
        font-size: 20px;
        border: none;
        background-color: #4cea88;
        border-radius: 10px;
        
    }

    .CheckIn:hover{
        background-color:#309505;
        color:aliceblue;
    }

    /*
    b{
        position:relative;
        font-size: 18px;
        border-radius: 80%;
        color:#6666;
        padding:5px 16px;
        z-index:10;
        background-color:aquamarine;
    }
    c {
    
        position:relative;
        left:-18%;
        z-index:100;
    
    }
        */



</style>



<div class="containers">
<div class="body-list">

    <p>@ViewBag.nowday567</p>

    <p style="font-size:50px;text-align:center; ">每日簽到</p>

    <ul>
        <li>日</li>
        <li>一</li>
        <li>二</li>
        <li>三</li>
        <li>四</li>
        <li>五</li>
        <li>六</li>
    </ul>
</div>

<div class="body-list">
    <ul class="day" id="day">

        @{

            for (int i = 1; i < int.Parse(ViewBag.firstweekdate); i++)
            {
                <li></li>

            }

            for (int i = 1; i <= ViewBag.date+1; i++)
            {
                int value = i;

                if (list != null)
                {


                    if (Array.Exists(list, x => x == value))
                    {
                        <li style="background-color:green; "><b></b><c>@i</c></li>
                    }
                    else
                    {
                        <li style="">@i</li>
                    }


                }
                else
                {
                    <li>@i</li>
                }


            }

        }


    </ul>
</div>

<!--button 簽到按鈕-->
<div style="text-align:center; margin-top: 30px;">
    @if(ViewBag.CheckIn == "簽到")
            {
                <input type="button" class="CheckIn" id="button" onclick="myfun()" value=@ViewBag.CheckIn>
            }
            else
            {
                <input type="button" class="CheckIn" id="button" onclick="myfun()" disabled value=@ViewBag.CheckIn>
            }
    
            </div>
</div>


<script>
    function myfun() {
        var btn_text = document.getElementById("button");
        switch (btn_text.value) {
            case "簽到":
                btn_text.value = "已簽到";
                alert("簽到成功");
                location.assign(location.href);
                break;
            case "已簽到":
                alert("您已簽到");
                break;
            default:
                break;
        }
    }
</script>




